<div *ngIf="showActivityDialog">
    <p-toast />
    <app-loading-spinner [loading]="loading()" />
    <div *ngIf="!loading()">

        <p-dialog [(visible)]="showActivityDialog" [style]="{ width: '600px' }"
            [header]="activity ? (activity.activityId ? ('activities.edit_activity' | translate) : ('activities.new_activity' | translate)) : ''"
            [modal]="true">
            <ng-template #content>
                <div class="flex flex-col gap-4">
                    <div class="flex flex-row gap-2">
                        <p-button icon="pi pi-phone" [text]="activity.activityTypeId !== 1"
                            pTooltip="{{'activities.call' | translate}}"
                            [severity]="activity.activityTypeId === 1 ? 'primary' : 'secondary'"
                            (click)="onChangeActivityType(1)" [disabled]="activity.status === 'D'" />
                        <p-button icon="pi pi-users" [text]="activity.activityTypeId !== 2"
                            pTooltip="{{'activities.meeting' | translate}}"
                            [severity]="activity.activityTypeId === 2 ? 'primary' : 'secondary'"
                            (click)="onChangeActivityType(2)" [disabled]="activity.status === 'D'" />
                        <p-button icon="pi pi-check-square" [text]="activity.activityTypeId !== 3"
                            pTooltip="{{'activities.task' | translate}}"
                            [severity]="activity.activityTypeId === 3 ? 'primary' : 'secondary'"
                            (click)="onChangeActivityType(3)" [disabled]="activity.status === 'D'" />
                    </div>
                    <div class="flex flex-row gap-6">
                        <div class="flex flex-col gap-4 w-1/2">
                            <div class="flex flex-col ">
                                <label for="subject" class="block font-bold mb-3">{{ 'activities.subject' | translate
                                    }} *</label>
                                <input type="text" pInputText id="subject" [(ngModel)]="activity.subject" autofocus
                                    fluid [disabled]="activity.status === 'D'" />
                            </div>
                            <div class="flex flex-col">
                                <label class="block font-bold mb-3">{{ 'activities.due_date' | translate }} *</label>
                                <p-datepicker [showIcon]="true" [showButtonBar]="true" [(ngModel)]="activity.dueDate"
                                    [disabled]="activity.status === 'D'" />
                            </div>
                            <div class="flex flex-col">
                                <label class="block font-bold mb-3">{{ 'activities.assignee' | translate }} *</label>
                                <p-autocomplete [(ngModel)]="activity.assignee" [suggestions]="usersAutoFilteredValue"
                                    optionLabel="name" placeholder="{{ 'common.search' | translate }}" dropdown
                                    display="chip" (completeMethod)="filterUsers($event)" appendTo="body"
                                    [disabled]="activity.status === 'D'" />
                            </div>
                        </div>
                        <div class="flex flex-col gap-4 w-1/2">
                            <div class="flex flex-col">
                                <label class="block font-bold mb-3">{{ 'activities.person' | translate }}</label>
                                <p-autocomplete [(ngModel)]="selectedPerson" [suggestions]="personsAutoFilteredValue"
                                    optionLabel="name" placeholder="{{ 'common.search' | translate }}" dropdown
                                    (completeMethod)="filterPersons($event)"
                                    (onSelect)="onObjectSelect($event.value, 'P')" (onClear)="onObjectClear()"
                                    [disabled]="!!selectedDeal || !!selectedOrganization || activity.status === 'D'"
                                    appendTo="body" />
                            </div>
                            <div class="flex flex-col">
                                <label class="block font-bold mb-3">{{ 'activities.deal' | translate }}</label>
                                <p-autocomplete [(ngModel)]="selectedDeal" [suggestions]="dealsAutoFilteredValue"
                                    optionLabel="name" placeholder="{{ 'common.search' | translate }}" dropdown
                                    (completeMethod)="filterDeals($event)"
                                    (onSelect)="onObjectSelect($event.value, 'D')" (onClear)="onObjectClear()"
                                    [disabled]="!!selectedPerson || !!selectedOrganization || activity.status === 'D'"
                                    appendTo="body" />
                            </div>
                            <div class="flex flex-col">
                                <label class="block font-bold mb-3">{{ 'activities.organization' | translate }}</label>
                                <p-autocomplete [(ngModel)]="selectedOrganization"
                                    [suggestions]="organizationsAutoFilteredValue" optionLabel="name"
                                    placeholder="{{ 'common.search' | translate }}" dropdown
                                    (completeMethod)="filterOrganizations($event)"
                                    (onSelect)="onObjectSelect($event.value, 'O')" (onClear)="onObjectClear()"
                                    [disabled]="!!selectedPerson || !!selectedDeal || activity.status === 'D'"
                                    appendTo="body" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <label for="notes" class="block font-bold mb-3">{{ 'activities.notes' | translate }}</label>
                        <textarea id="notes" pTextarea [(ngModel)]="activity.notes" rows="3" cols="20" fluid
                            [disabled]="activity.status === 'D'"></textarea>
                    </div>
                </div>
            </ng-template>
            <ng-template #footer>
                <label for="checkbox" class="block font-bold mt-2">{{ 'activities.mark_as_done' | translate }}</label>
                <p-checkbox name="checkbox" [(ngModel)]="activity.status" [binary]="true" [trueValue]="'D'"
                    [falseValue]="'I'" class="mt-2" [disabled]="activity.status === 'D'" />
                <p-button label="{{ 'common.cancel' | translate }}" icon="pi pi-times" text (click)="hideDialog()" />
                <p-button label="{{ 'common.save' | translate }}" icon="pi pi-save" (click)="saveActivity()" />
            </ng-template>
        </p-dialog>

    </div>
</div>