/* Add this to your component's CSS file */

.bigger-icon-tag.p-tag {
  width: 20%;  /* Controls the width of the circle */
  height: 20%; /* Controls the height of the circle */
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.bigger-icon-tag.p-tag .p-tag-icon {
  font-size: 5.2rem; /* Controls the size of the icon inside */
}