<p-toast></p-toast>
<p-confirmdialog [style]="{ width: '450px' }"></p-confirmdialog>

<!-- Toolbar + Query Params -->
<p-toolbar styleClass="mb-2">
    <ng-template pTemplate="start">
        <button pButton type="button" class="mr-2" icon="pi pi-plus" label="New" (click)="onAdd()"></button>
        <button pButton type="button" icon="pi pi-save" class="mr-2" label="Export CSV" (click)="exportCSV()"></button>
        <button pButton label="Transfer Contacts" class="mr-2" icon="pi pi-share-alt"
            (click)="openTransferDialog()"></button>
    </ng-template>

    <ng-template pTemplate="end">
        <p-iconField>
            <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
            <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Search" />
        </p-iconField>
    </ng-template>
</p-toolbar>

<!-- Table -->
<div *ngIf="!loading">
    <p-table #dt [value]="rows" [exportFilename]="exportFileName" [rows]="10" [columns]="exportColumns"
        [paginator]="true" [rowHover]="true" dataKey="id" [tableStyle]="{ 'min-width': '72rem' }"
        [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
        [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} persons'"
        [globalFilterFields]="['personName','organizationName','phone','email','position','createdBy','isGeneral']">
        <!-- HEADER -->
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="personName" style="min-width:18rem">
                    Person <p-sortIcon field="personName"></p-sortIcon>
                </th>
                <th pSortableColumn="organizationName" style="min-width:18rem">
                    Organization <p-sortIcon field="organizationName"></p-sortIcon>
                </th>
                <th pSortableColumn="phone" style="min-width:12rem">
                    Phone <p-sortIcon field="phone"></p-sortIcon>
                </th>
                <th pSortableColumn="email" style="min-width:16rem">
                    Email <p-sortIcon field="email"></p-sortIcon>
                </th>
                <th pSortableColumn="position" style="min-width:12rem">
                    Position <p-sortIcon field="position"></p-sortIcon>
                </th>
                <th pSortableColumn="createdBy" style="min-width:12rem">
                    Created By <p-sortIcon field="createdBy"></p-sortIcon>
                </th>
                <th pSortableColumn="isGeneral" style="min-width:8rem">
                    General<p-sortIcon field="isGeneral"></p-sortIcon>
                </th>
                <th style="min-width:8rem">Actions</th>
            </tr>
        </ng-template>

        <!-- BODY -->
        <ng-template pTemplate="body" let-p>
            <tr>
                <td>{{ p.personName }}</td>
                <td>{{ p.organizationName || '' }}</td>
                <td>{{ p.phone || '' }}</td>
                <td>{{ p.email || '' }}</td>
                <td>{{ p.position || '' }}</td>
                <td>{{ p.createdBy || '' }}</td>
                <!-- <td>{{ p.isGeneral || '' }}</td> -->

                <td class="text-center">
                    <p-tag *ngIf="p.isGeneral === 'Y'" icon="pi pi-check" severity="success"
                        styleClass="bigger-icon-tag">
                    </p-tag>

                    <p-tag *ngIf="p.isGeneral !== 'Y'" icon="pi pi-times" severity="danger"
                        styleClass="bigger-icon-tag">
                    </p-tag>
                </td>

                <td class="flex gap-2">
                    <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-outlined mr-2"
                        (click)="onEdit(p)"></button>
                    <button pButton icon="pi pi-trash" class="p-button-danger p-button-rounded p-button-outlined"
                        [disabled]="!p.id" (click)="delete(p)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- Dialog -->
<p-dialog [(visible)]="personDialog" [header]="editing ? 'Edit | Person' : 'Add | Person'" [modal]="true"
    [draggable]="false" [resizable]="true" [closable]="false" [dismissableMask]="true"
    [style]="{ width: '900px', maxWidth: '96vw' }" styleClass="sg-dialog">

    <ng-template pTemplate="content">
        <ng-container *ngIf="form">
            <div class="sg-form">

                <!-- Names -->
                <div class="sg-row sg-grid-2">
                    <div class="sg-field">
                        <label class="sg-label">* First Name:</label><br />
                        <input pInputText class="w-full" [(ngModel)]="form.firstName" name="firstName" required />
                        <small class="p-error" *ngIf="submitted && !form?.firstName">First name is required</small>
                    </div>
                    <div class="sg-field">
                        <label class="sg-label">* Second Name:</label><br />
                        <input pInputText class="w-full" [(ngModel)]="form.secondName" name="secondName" required />
                        <small class="p-error" *ngIf="submitted && !form?.secondName">Second name is required</small>
                    </div>
                </div>

                <br />

                <!-- Organization + Email -->
                <div class="sg-row sg-grid-2">
                    <div class="sg-field">
                        <label class="sg-label">Organization:</label><br />
                        <p-autoComplete [(ngModel)]="orgSelectedAutoValue" [suggestions]="orgAutoFiltered"
                            (completeMethod)="filterOrgList($event)" (onSelect)="onOrgSelect($event.value)"
                            (onClear)="onOrgClear()" [dropdown]="true" [forceSelection]="true" field="name"
                            placeholder="Search Organizations" [appendTo]="'body'" [showClear]="true" optionLabel="name"
                            styleClass="w-full">
                            <ng-template let-org pTemplate="item">
                                <div>{{ org.name }}</div>
                            </ng-template>
                        </p-autoComplete>

                        <!-- Debug info (remove after testing) -->
                        <!-- <small *ngIf="orgSelectedAutoValue" class="text-gray-500 block mt-1">
                            ✓ Selected: {{ orgSelectedAutoValue.name }} (ID: {{ orgSelectedAutoValue.id }})
                        </small> -->



                    </div>
                    <div class="sg-field">
                        <label class="sg-label">Email:</label><br />
                        <input pInputText class="w-full" [(ngModel)]="form.email" name="email" />

                    </div>
                </div>

                <br />

                <!-- Phone + Mobile -->
                <div class="sg-row sg-grid-2">
                    <div class="sg-field">
                        <label class="sg-label">* Phone:</label><br />
                        <input pInputText class="w-full" [(ngModel)]="form.phone" name="phone" required />
                        <small class="p-error" *ngIf="submitted && !form?.phone">Phone is required</small>
                    </div>
                    <div class="sg-field">
                        <label class="sg-label">Mobile:</label><br />
                        <input pInputText class="w-full" [(ngModel)]="form.mobile" name="mobile" />
                    </div>
                </div>

                <br />

                <!-- Title + Comments -->
                <div class="sg-row sg-grid-2">
                    <div class="sg-field">
                        <label class="sg-label">Title:</label><br />
                        <input pInputText class="w-full" [(ngModel)]="form.position" name="position" />
                    </div>
                    <div class="sg-field">
                        <label class="sg-label">Comments:</label><br />
                        <textarea pTextarea class="w-full" rows="3" [(ngModel)]="form.comments"
                            name="comments"></textarea>
                    </div>
                </div>

                <br />

                <!-- General -->
                <div class="sg-row">
                    <div class="sg-field flex items-center gap-3">
                        <!-- <input type="checkbox" > -->

                        <!-- <p-checkbox binary="true" [ngModel]="form?.isGeneral === 'Y'"
                            (onChange)="onGeneralToggle($event)">
                        </p-checkbox> -->

                        <label for="isGeneral" class="sg-label m-0">General:</label>
                        <input id="isGeneral" type="checkbox" [checked]="form.isGeneral === 'Y'"
                            (change)="onSimpleGeneralChange($event)" />

                        <!-- <small class="text-gray-500">({{ form?.isGeneral || 'N' }})</small> -->
                        <!-- <p-checkbox binary="true" [ngModel]="form?.isGeneral === 'Y'"
                            (onChange)="onGeneralToggle($event.checked)">
                        </p-checkbox> -->

                    </div>
                </div>

            </div>
        </ng-container>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="sg-footer">
            <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-text" (onClick)="hideDialog()"></p-button>
            <p-button [label]="editing ? 'Update' : 'Save'" icon="pi pi-check" [disabled]="saving()"
                (onClick)="save()"></p-button>
        </div>
    </ng-template>
</p-dialog>





<p-dialog header="Transfer Contacts" [(visible)]="showTransferDialog" [modal]="true" [style]="{ width: '80vw' }"
    [closable]="false">

    <!-- Top Section with Dropdowns and NEW Search Bar -->
    <div class="flex justify-between items-center gap-3 mb-3">
        <!-- Left Side: Dropdowns -->
        <div class="flex gap-3">
            <p-autoComplete [(ngModel)]="selectedGroup" [suggestions]="filteredSalesGroups"
                (completeMethod)="filterSalesGroups($event)" field="salesGroupName" [dropdown]="true"
                [forceSelection]="true" placeholder="Select Sales Group" (onSelect)="onGroupSelect($event.value)"
                style="width: 300px" optionLabel="salesGroupName">
                <ng-template let-g pTemplate="item">
                    <div>{{ g.salesGroupName }}</div>
                </ng-template>
            </p-autoComplete>

            <p-autoComplete [(ngModel)]="selectedTargetUser" [suggestions]="filteredUsers"
                (completeMethod)="filterUsers($event)" field="name" [dropdown]="true" [forceSelection]="true"
                placeholder="Transfer to user" style="width: 300px" optionLabel="name">
                <ng-template let-u pTemplate="item">
                    <div>{{ u.name }}</div>
                </ng-template>
            </p-autoComplete>
        </div>

        <!-- ✅ Right Side: Search Bar -->
        <p-iconField>
            <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
            <input pInputText type="text" (input)="onGlobalFilter2($event)" placeholder="Search Contacts" />
        </p-iconField>
    </div>

    <!-- ✅ Updated Table with #dt2, sortable columns, and more fields -->
    <p-table #dt2 [value]="personOfDataTransfer" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'"
        [globalFilterFields]="['personName','organizationName', 'createdBy']" dataKey="personId" [rowHover]="true"
        [tableStyle]="{ 'min-width': '60rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="personName" style="min-width:16rem">
                    Person Name <p-sortIcon field="personName"></p-sortIcon>
                </th>
                <th pSortableColumn="organizationName" style="min-width:16rem">
                    Organization <p-sortIcon field="organizationName"></p-sortIcon>
                </th>
                <th pSortableColumn="createdBy" style="min-width:12rem">
                    Created By <p-sortIcon field="createdBy"></p-sortIcon>
                </th>
                <th style="width:8rem" class="text-center">Transfer</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-p>
            <tr>
                <td>{{ p.personName }}</td>
                <td>{{ p.organizationName }}</td>
                <td>{{ p.createdBy }}</td>
                <td class="text-center">
                    <p-checkbox [(ngModel)]="p.transferChecked" [binary]="true"></p-checkbox>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <ng-template pTemplate="footer">
        <button pButton label="Cancel" class="p-button-text" (click)="showTransferDialog = false"></button>
        <button pButton label="Transfer" icon="pi pi-check" (click)="confirmTransferContacts()"></button>
    </ng-template>
</p-dialog>