<div *ngIf="showDealDialog">
    <p-toast />
    <app-loading-spinner [loading]="loading()" />
    <div *ngIf="!loading()">

        <p-dialog [(visible)]="showDealDialog" [style]="{ width: '600px' }"
            [header]="('add_deal.new_deal' | translate) " [modal]="true">
            <ng-template #content>
                <div class="flex flex-col gap-6">
                    <p-fieldset legend="{{'add_deal.deal' | translate}}" [toggleable]="false">
                        <div class="flex flex-col gap-2">
                            <div class="flex flex-row gap-6">
                                <div class="flex flex-col w-1/2">
                                    <label for="title" class="block font-bold mb-3">{{ 'add_deal.deal_title' | translate
                                        }} *</label>
                                    <input type="text" pInputText id="title" [(ngModel)]="dealTitle" autofocus fluid />
                                </div>
                                <div class="flex flex-col w-1/2">
                                    <label class="block font-bold mb-3">{{ 'add_deal.currency' | translate }} *</label>
                                    <p-autocomplete [(ngModel)]="dealCurrency"
                                        [suggestions]="currenciesAutoFilteredValue" optionLabel="name"
                                        placeholder="{{ 'common.search' | translate }}" dropdown display="chip"
                                        (completeMethod)="filterCurrencies($event)" appendTo="body" />
                                </div>
                            </div>
                            <div class="flex flex-row gap-6">
                                <div class="flex flex-col w-1/2">
                                    <label for="dealValue" class="block font-bold mb-3">{{ 'add_deal.deal_value' |
                                        translate
                                        }} *</label>
                                    <input type="number" pInputText id="dealValue" [(ngModel)]="dealValue" autofocus
                                        fluid />
                                </div>
                                <div class="flex flex-col w-1/2">
                                    <label class="block font-bold mb-3">{{ 'add_deal.commit' | translate }} *</label>
                                    <p-datepicker [showIcon]="true" [showButtonBar]="true" [(ngModel)]="dealCommitDate"
                                        appendTo="body"></p-datepicker>
                                </div>
                            </div>
                            <div class="flex flex-row gap-6">
                                <div class="flex flex-col w-1/2">
                                    <label class="block font-bold mb-3">{{ 'add_deal.closure_date' | translate }}
                                        *</label>
                                    <p-datepicker [showIcon]="true" [showButtonBar]="true" [(ngModel)]="dealClosureDate"
                                        appendTo="body"></p-datepicker>
                                </div>
                                <div class="flex flex-col w-1/2">
                                    <label for="description" class="block font-bold mb-3">{{ 'add_deal.description' |
                                        translate }}</label>
                                    <textarea id="description" pTextarea [(ngModel)]="dealDescription" rows="3"
                                        cols="20" fluid></textarea>
                                </div>
                            </div>
                        </div>
                    </p-fieldset>
                    <p-fieldset legend="{{'add_deal.sales_wise' | translate}}" [toggleable]="false">
                        <div class="flex flex-col gap-2">
                            <div class="flex flex-row gap-6">
                                <div class="flex flex-col w-1/2">
                                    <label class="block font-bold mb-3">{{ 'add_deal.pipeline' | translate }} *</label>
                                    <p-autocomplete [(ngModel)]="pipelinesSelectedAutoValue"
                                        [suggestions]="pipelinesAutoFilteredValue" optionLabel="name"
                                        placeholder="{{ 'common.search' | translate }}" dropdown display="chip"
                                        (completeMethod)="filterPipelines($event)" appendTo="body"
                                        (onSelect)="onPipelineChange()" />
                                </div>
                                <div class="flex flex-col w-1/2">
                                    <label class="block font-bold mb-3">{{ 'add_deal.sales_group' | translate }}
                                        *</label>
                                    <p-autocomplete [(ngModel)]="salesGroupSelectedAutoValue"
                                        [suggestions]="salesGroupsAutoFilteredValue" optionLabel="salesGroupName"
                                        placeholder="{{ 'common.search' | translate }}" dropdown display="chip"
                                        (onSelect)="onSalesGroupChange()"
                                        (completeMethod)="filterSalesGroups($any($event))" appendTo="body"
                                        (onSelect)="onSalesGroupChange()" />
                                </div>
                            </div>
                            <div class="flex flex-row gap-6">
                                <div class="flex flex-col w-1/2">
                                    <label class="block font-bold mb-3">{{ 'add_deal.stage' | translate }} *</label>
                                    <p-autocomplete [(ngModel)]="stagesSelectedAutoValue"
                                        [suggestions]="stagesAutoFilteredValue" optionLabel="name"
                                        placeholder="{{ 'common.search' | translate }}" dropdown display="chip"
                                        (completeMethod)="filterStages($event)" appendTo="body"
                                        [disabled]="pipelinesSelectedAutoValue === null" />
                                </div>
                                <div class="flex flex-col w-1/2">
                                    <label class="block font-bold mb-3">{{ 'add_deal.sales_user' | translate }}
                                        *</label>
                                    <p-autocomplete [(ngModel)]="usersSelectedAutoValue"
                                        [suggestions]="usersAutoFilteredValue" optionLabel="name"
                                        placeholder="{{ 'common.search' | translate }}" dropdown display="chip"
                                        (completeMethod)="filterSalesUsers($event)" appendTo="body"
                                        [disabled]="salesGroupSelectedAutoValue === null" />
                                </div>
                            </div>
                            <div class="flex flex-row gap-6">
                                <div class="flex flex-col w-1/2">
                                    <label class="block font-bold mb-3">{{ 'add_deal.deal_source' | translate }}
                                        *</label>
                                    <p-autocomplete [(ngModel)]="dealSourceSelectedAutoValue"
                                        [suggestions]="dealSourceAutoFilteredValue" optionLabel="name"
                                        placeholder="{{ 'common.search' | translate }}" dropdown display="chip"
                                        (completeMethod)="filterDealSources($event)" appendTo="body" />
                                </div>
                            </div>
                        </div>
                    </p-fieldset>
                    <p-fieldset legend="{{'add_deal.customer' | translate}}" [toggleable]="false">
                        <div class="flex flex-col gap-2">
                            <div class="flex flex-row gap-6">
                                <div class="flex flex-col w-full">
                                    <label class="block font-bold mb-3">{{ 'add_deal.organization_name' | translate }}
                                        *</label>
                                    <p-autocomplete [(ngModel)]="organizationsSelectedAutoValue"
                                        [suggestions]="organizationsAutoFilteredValue" optionLabel="name"
                                        placeholder="{{ 'common.search' | translate }}" dropdown display="chip"
                                        (completeMethod)="filterOrganizations($event)" appendTo="body"
                                        (onSelect)="onOrganizationChange()" />
                                </div>
                            </div>
                            <div *ngIf="organizationsSelectedAutoValue !== null" class="flex flex-col gap-2">
                                <div class="font-semibold text-l">{{'add_deal.people' |translate}}</div>
                                <div class="flex flex-row w-full">
                                    <p-multiselect [options]="customersDropDownList" styleClass="multiselect-wrap"
                                        [(ngModel)]="multiselectSelectedCustomers"
                                        placeholder="{{'add_deal.select_customer' | translate}}" optionLabel="name"
                                        display="chip" [filter]="true" appendTo="body">
                                        <ng-template #selecteditems let-customers>
                                            @for (customer of customers; track customer.id) {
                                            <div
                                                class="inline-flex items-center py-1 px-2 bg-primary text-primary-contrast rounded-border mr-2">
                                                <div>{{ customer.name }}</div>
                                            </div>
                                            }
                                        </ng-template>
                                        <ng-template #item let-customer>
                                            <div class="flex items-center">
                                                <div>{{ customer.name }}</div>
                                            </div>
                                        </ng-template>
                                    </p-multiselect>
                                </div>
                            </div>
                        </div>
                    </p-fieldset>
                    <p-fieldset legend="{{'add_deal.scope' | translate}}" [toggleable]="false">
                        <div class="flex flex-col gap-2">
                            <div class="font-semibold text-l">{{'add_deal.products' |translate}}</div>
                            <div class="flex flex-row w-full">
                                <p-multiselect [options]="productsDropDownList" styleClass="multiselect-wrap"
                                    [(ngModel)]="multiselectSelectedProducts"
                                    placeholder="{{'add_deal.select_product' | translate}}" optionLabel="name"
                                    display="chip" [filter]="true" appendTo="body">
                                    <ng-template #selecteditems let-products>
                                        @for (product of products; track product.id) {
                                        <div
                                            class="inline-flex items-center py-1 px-2 bg-primary text-primary-contrast rounded-border mr-2">
                                            <div>{{ product.name }}</div>
                                        </div>
                                        }
                                    </ng-template>
                                    <ng-template #item let-product>
                                        <div class="flex items-center">
                                            <div>{{ product.name }}</div>
                                        </div>
                                    </ng-template>
                                </p-multiselect>
                            </div>
                            <div class="font-semibold text-l">{{'add_deal.services' |translate}}</div>
                            <div class="flex flex-row w-full">
                                <p-multiselect [options]="servicesDropDownList" styleClass="multiselect-wrap"
                                    [(ngModel)]="multiselectSelectedServices"
                                    placeholder="{{'add_deal.select_service' | translate}}" optionLabel="name"
                                    display="chip" [filter]="true" appendTo="body">
                                    <ng-template #selecteditems let-services>
                                        @for (service of services; track service.id) {
                                        <div
                                            class="inline-flex items-center py-1 px-2 bg-primary text-primary-contrast rounded-border mr-2">
                                            <div>{{ service.name }}</div>
                                        </div>
                                        }
                                    </ng-template>
                                    <ng-template #item let-service>
                                        <div class="flex items-center">
                                            <div>{{ service.name }}</div>
                                        </div>
                                    </ng-template>
                                </p-multiselect>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </ng-template>
            <ng-template #footer>
                <p-button label="{{ 'common.cancel' | translate }}" icon="pi pi-times" text (click)="hideDialog()" />
                <p-button label="{{ 'common.save' | translate }}" icon="pi pi-save" (click)="addDeal()" />
            </ng-template>
        </p-dialog>

    </div>
</div>